@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#2d2c2c] text-white h-auto;
        overflow-x: hidden;

    }

    @font-face {
      font-family: "Cinzel";
      src: url('../app/Cinzel-Bold.ttf');
      font-weight: 700;
      font-style: normal;
    }
}

@layer components{
        .text-shadow {
          text-shadow: 0 2px 4px rgba(0,0,0,0.10);
        }
      
        .text-shadow-md {
          text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
        }
      
        .text-shadow-lg {
          text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
        }
      
        .text-shadow-none {
          text-shadow: none;
        }

}



video::-webkit-media-controls-timeline {
  background-color: #fb923c;
  padding-bottom: 0;
  margin-bottom: 20px;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hide disabled buttons */
.rec.rec-carousel {
    padding-left: 0;
    position: relative;
    left: -6px;
}


/* square buttons */
.rec.rec-arrow-right {
  border-radius: 0;
  height: 80px;
  width: 10px;
  border-radius: 7px;
  z-index: 20;
  color:#fb923c;
  background-color: rgba(45,44,44,0.08);
}

.rec.rec-arrow-right:active {
  border-radius: 0;
  height: 80px;
  width: 10px;
  border-radius: 7px;
  z-index: 20;
  color:#fb923c;
  background-color: rgba(45,44,44,0.08);
}

.rec.rec-arrow-left {
  border-radius: 0;
  height: 80px;
  width: 10px;
  border-radius: 7px;
  z-index: 20;
  color:#fb923c;
  background-color: rgba(45,44,44,0.08);
}

.rec.rec-arrow-left:active {
  border-radius: 0;
  height: 80px;
  width: 10px;
  border-radius: 7px;
  z-index: 20;
  color:#fb923c;
  background-color: rgba(45,44,44,0.08);
}

/* .rec.rec-arrow-right:hover {
  color: white;
  background-color: rgba(45,44,44,0.08);
} */
.rec.rec-arrow-left:hover:enabled,
.rec.rec-arrow-right:hover:enabled{
    background-color: #2d2c2c;

}

.react-multiple-carousel__arrow--left {
  left: 0pt;
}

.react-multiple-carousel__arrow--right {
  right: 0pt;
}

.carousel-container {
  padding-left: 45px;
}

.react-multi-carousel-item {
  padding: 10px 18px 20px 0px;
  width: 190px
}

::-webkit-scrollbar {
  display: none;
}



